@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,100&family=Montserrat:ital,wght@0,200;0,300;0,400;1,200&family=Noto+Sans+KR:wght@300;400;500&family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Gloria+Hallelujah&display=swap');
html {
	font-family: 'apple-m','Lato','Montserrat', 'Noto Sans KR','Roboto','Playfair Display' ;
	color: #444;
	line-height: 1.2;
	word-wrap: break-word;
	font-weight: 300;
	font-size: 14px;
}
body {

	line-height: 18px;
	-webkit-font-smoothing: antialiased;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
div, span, article, section, header, footer, aside, p, ul, li, fieldset, legend, label, a, nav, form {
	box-sizing: border-box;
	/* content-box */
}
ol, ul, li {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	/* max-width: 100%; */
	height: auto;
	border: 0;
}
a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}
button {
	border: 0;
	background: transparent;
	cursor: pointer;
}


em,address{
	font-style: normal;
}
/* 두꼐 초기화 */
h1,h2,h3,h4,h5,h6,strong{
	font-weight: normal;
}

/* 블라인드 */
.blind{
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
}

/* clear fix */

.clearfix{
	zoom: 1;
}

.clearfix::before , .clearfix::after{
	display: block;
	content: "";
	line-height: 0;
}

.clearfix::after{clear: both;}
